Package: goggle-led-draw
Version: 0.4.0
Maintainer: Chris L. <stylesuxx@gmail.com>
Description: Draw on the DJI goggle LED display
Architecture: pigeon-glasses
Homepage: https://github.com/stylesuxx/dji-hd-fpv-led-matrix
Depends:
